/ ask question form with textarea and button
.section
  .columns
    .column
      .card
        .card-content
          %h1 Fai una domanda all'esperto ciclista
          %form{ action: "/questions", method: "post" }
            %textarea.textarea.question{ name: "question" }
            .s10
            %input.button.is-primary.is-large{ type: "submit", value: "Domanda" }

/ response - question
- if question.question
  .section
    .columns
      .column.is-one-fifth
      .column
        .card
          .card-content
            %h1 Risposta
            %p alla domanda: #{question.question}
            %p.answer #{question.answer}
            .s20
            %p.is-size-7 (clicca in qualsiasi punto per ascoltare il ciclista)
            .s20
            -# %p Model Output: #{question.answer_orig}
      .column.is-one-fifth

  %audio.audio{ autoplay: "true", controls: true, loop: false }
    %source{ src: audio_path_public,  type: "audio/mp3" }
