%html
  %title AI Playground - Esperto Ciclista AI
  %link{ rel: "stylesheet", href: "/css/vendor/bulma.css" }
  %link{ rel: "stylesheet", href: "/css/style.css" }
  / mobile meta tags
  %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
  %meta{:content => "http://aioverflow.org/images/og_aioverflow.png", :property => "og:image"}/
  %body
    / bulma hero
    .hero.is-primary
      .hero-body
        %h1.title Esperto Ciclista AI
        %h2.subtitle
          Esperto Ciclista basato sull'AI GPT3 di OpenAPI (Davinci machine learning engine)
      .hero-foot
        %a.button{ href: "/" } Ask a Question
        %a.button{ href: "/#soon" } Train the AI
        -# %a.button{ href: "/login" } Login
        -# %a.button{ href: "/register" } Register

    .content
      = yield

      .s100
